.menu-list {
    display: flex;
    flex-direction: column;
    width: 130px;
    position: relative;
    
    left: 5%;
  }
  
  .menu-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-list li {
    padding: 10px;
    /* background-color: #faf8f8; */
    border-bottom: 1px solid #c8c4c44a;
    font-weight: bold;
    font-family: 'Lora';
    color: black;

  }

  .menu-list a{
    color: black;
  }
  .menu-list a:active{
    color: red;
  }
  .menu-list li:hover{
    background-color: rgb(248, 248, 248) ;
    cursor: pointer;
  }