<div class="menu-list">
    <ul>
      <li><a routerLink="/nosproduits/burgers">Nos Burgers</a></li>
      <li><a routerLink="/nosproduits/pizzas">Nos Pizzas</a></li>
      <li><a routerLink="/nosproduits/pastas">Nos Pastas</a></li>
      <li><a routerLink="/nosproduits/frites">Nos Frites</a></li>
      <li><a routerLink="/nosproduits/salades">Nos Salades</a></li>
      <li><a routerLink="/nosproduits/boissons">Nos Boissons</a></li>
      <!-- Add more menu items as needed -->
    </ul>
  </div>
