
<!-- <div class="card-container">
    <div class="card mb-3" style="max-width: 540px;box-shadow: none;">
      <div class="row g-0">
        <div class="col-md-12">
          <img src="./assets/Images/burger.jpg" class="img-fluid rounded-start"  alt="...">
        </div>
        <div class="col-md-12">
          <div class="card-body" style="font-size: 23px;">
            <h1 class="card-title" style="font-weight: bold;">{{product.name}}</h1>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="card-container">
    <div class="card mb-3" style="max-width: 540px; box-shadow: none;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/Images/burger.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" style="font-size: 23px;">
            <h1 class="card-title" style="font-weight: bold;">{{product.name}}</h1>
            <div class="row">
              <div class="col-md-12">
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="card-container">
    <div class="card mb-3" style="max-width: 540px; box-shadow: none;">
      <div class="row g-0">
        <div class="col-md-12">
          <img src="./assets/Images/burger.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-center">
          <div class="card-body" style="font-size: 23px;">
            <h1 class="card-title" style="font-weight: bold;">{{product.name}}</h1>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
   -->
   <div class="container">
  <div class="image-container">
    <img src="./assets/Images/burger.jpg" alt="Image">
  </div>
  <div class="text-container">
    <h2>{{product.name}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae ullamcorper odio.</p>
      <button class="custom-button">Commander</button>

  </div>
</div>
