<!-- 
   <div class="container">
  <div class="image-container">
    <img src="./assets/Images/burger.jpg" alt="Image">
  </div>
  <div class="text-container">
    <h2>{{product.name}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae ullamcorper odio.</p>
      <button class="custom-button">Commander</button>

  </div>
</div> -->
<ng-container *ngIf="product">
  <app-shop></app-shop>
  <div class="container">
    <div class="image-container">
      <img src="{{product.imageUrl}}" alt="Image">
      <div class="price-container">
        <span class="price">${{product.price}}</span>
      </div>
    </div>
    <div class="text-container">
      <h2>{{product.name}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae ullamcorper odio.</p>
      <button (click)="addProductToPanier(product)" class="custom-button">Ajouter au Panier</button>
    </div>
  </div>
  
</ng-container>

