<!-- <div class="card-sub j"> <img class="card-img-top img-fluid" src="./assets/Images/burger.jpg" alt="Card image cap">

  <div class="card-block j">

      <h4 class="card-title">Product</h4>

      <p class="card-text"></p>

  </div>

</div> -->

<div class="card-sub j">
  <div class="image-container">
    <img class="card-img-top img-fluid" src="./assets/Images/burger.jpg" alt="Card image cap">
    <div class="price">$9.99</div> <!-- Add the price element -->
  </div>
  <div class="card-block">
    <h4 class="card-title">Product</h4>
    <p class="card-text"></p>
    <button class="btn btn-primary btn-lg ajouterbutton">Ajouter au panier</button>
  </div>
</div>


