<!-- <div class="card-sub j"> <img class="card-img-top img-fluid" src="./assets/Images/burger.jpg" alt="Card image cap">

  <div class="card-block j">

      <h4 class="card-title">Product</h4>

      <p class="card-text"></p>

  </div>

</div> -->
<!-- 
<div class="card-sub j">
  <div class="image-container">
    <img class="card-img-top img-fluid" src="./assets/Images/burger.jpg "alt="Card image cap">
    <div class="price"> $</div> 
  </div>
  
  <div class="card-block">
    <h4 class="card-title"></h4>
    <p class="card-text"></p>
    <button class="btn btn-primary btn-lg ajouterbutton">Ajouter au panier</button>
  </div>
</div> -->

<!-- <div class="card-sub j">
  <div class="image-container">
    <img class="card-img-top img-fluid" src="./assets/Images/burger.jpg "alt="Card image cap">
    <div class="price">{{ product.price }}</div> 
  </div>
  
  <div class="card-block">
    <h4 class="card-title">{{ product.name }}</h4>
    <p class="card-text">{{ product.description }}</p>
    <button class="btn btn-primary btn-lg ajouterbutton">Ajouter au panier</button>
  </div>
</div> -->
<div class="card-sub j">
  <div class="image-container" (click)="showFullProduct()">
    <img class="card-img-top img-fluid" src="./assets/Images/burger.jpg" alt="Card image cap">
    <div class="price">{{ product.price }}</div> 
  </div>
  <div class="card-block">
    <h4 class="card-title">{{ product.name }}</h4>
    
    <button (click)="addProductToPanier(product)"  class="btn btn-primary btn-lg ajouterbutton">Ajouter au panier</button>
  </div>
</div>

