<!-- <div class="product-container"> -->
  
  
    <!-- <div class="col-4"><app-product></app-product></div> -->
    <!-- <div class="col-4"><app-product></app-product></div>
    <div class="col-4"><app-product></app-product></div>
    <div class="col-4"><app-product></app-product></div> -->

<!--   
  <div class="row">
    <div class="col-sm-4"><app-product></app-product></div>
    <div class="col-sm-4"><app-product></app-product></div>
    <div class="col-sm-4"><app-product></app-product></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"><app-product></app-product></div>
    <div class="col-md-4"><app-product></app-product></div>
    <div class="col-md-4"><app-product></app-product></div>
  </div> -->

  <h2>Burgers</h2>
    <div class="come">
      <div class="row">
        <div class="col-md-4" *ngFor="let burger of burgerData">
      
          <app-product [product]="burger"></app-product>
        </div>
      </div>
    </div>

  