.logo{
    position: relative;
    left: 3%;
}

.navbar-nav .nav-link {
    font-weight: 700;
    font-family: 'Lora', serif;
    font-size: 20px;
    padding: 20px;
    
  }
  .navbar-nav .nav-link:hover {
    color:  rgb(120,41,15); 
  }
  /* .navbar-nav .nav-link.active {
    color: rgb(120,41,15); 
    
    text-decoration-thickness: 2px;
   
  } */
  .shopicon{
    margin-right: 3%;
    font-size: 25px;
    color:  rgb(120,41,15);
  }
  .shopicon:hover{
        cursor: pointer;
  }
  li a.active{
    color:  rgb(120,41,15);
  }
  .shopicon a {
    position: relative;
  }
  
  .shopicon .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: rgb(211, 60, 5); 
    color: white; 
    font-size: 12px; 
    border-radius: 50%;
  }
  