<header>
    <!-- Navbar -->
    <!-- <app-shop></app-shop> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Container wrapper -->
        <a  class="navbar-brand me-2 logo" href="">
            <img
              src="./assets/Images/websitelogo.png"
              height="80"
              width="80"
              alt="MDB Logo"
              loading="lazy"
              style="margin-top: -1px;"
            />
          </a>
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarCenteredExample"
            aria-controls="navbarCenteredExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarCenteredExample"
           >
            <!-- Left links -->
            <ul *ngIf="!this.userservice.isAdminOn" class="navbar-nav mb-2 mb-lg-0 text">
              <li class="nav-item" >
                <a class="nav-link active" (click)="selectMenuItem('ACCUIEL')" [class.active]="selectedMenuItem === 'ACCUIEL'" aria-current="page"   routerLink=''>ACCUIEL</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" (click)="selectMenuItem('NOSPRODUITS')" [class.active]="selectedMenuItem === 'NOSPRODUITS'" routerLink='/nosproduits'>NOS PRODUITS</a>
              </li>
             
              <li class="nav-item" >
                <a class="nav-link" (click)="selectMenuItem('CONTACT')" [class.active]="selectedMenuItem === 'CONTACT'" routerLink='/contact'>CONTACT</a>
              </li>
              <!-- Navbar dropdown -->
              <li class="nav-item dropdown">
                <a (click)="selectMenuItem('MONCOMPTE')" [class.active]="selectedMenuItem === 'MONCOMPTE'"
                  class="nav-link dropdown-toggle"
                  
                  id="navbarDropdown"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  MON COMPTE
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item"  routerLink='/login'>SE CONNECTER</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item"  routerLink='/signin'>S'INSCRIRE</a>
                  </li>
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled"
                  >Disabled</a
                >
              </li> -->
            </ul>
            <ul *ngIf="this.userservice.isAdminOn"  class="navbar-nav mb-2 mb-lg-0 text">
              <li class="nav-item" >
                <a class="nav-link" (click)="selectMenuItem('CONTACT')" [class.active]="selectedMenuItem === 'CONTACT'" routerLink='/contact'>Gestion des produits</a>

              </li>
              
              
            </ul>
            <button  *ngIf="this.userservice.isAdminOn" (click)="logout()" class="logout-button">
              <i class="fas fa-sign-out-alt"></i>
              Logout
            </button>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
        <div *ngIf="!this.userservice.isAdminOn" class="d-flex justify-content-end shopicon">
          <a (click)="toggleCart()">
            
            <i  class="fas fa-cart-shopping"><span class="badge">{{ getSelectedItemsNumber() }}</span></i>
            
          </a>
          
        </div>
      </nav>
    <!-- Navbar -->
  
   
  </header>