<!-- <div class="product-container"> -->


<!-- <div class="col-4"><app-product></app-product></div> -->
<!-- <div class="col-4"><app-product></app-product></div>
    <div class="col-4"><app-product></app-product></div>
    <div class="col-4"><app-product></app-product></div> -->

<!--   
  <div class="row">
    <div class="col-sm-4"><app-product></app-product></div>
    <div class="col-sm-4"><app-product></app-product></div>
    <div class="col-sm-4"><app-product></app-product></div>
  </div>
  
  <div class="row">
    <div class="col-md-4"><app-product></app-product></div>
    <div class="col-md-4"><app-product></app-product></div>
    <div class="col-md-4"><app-product></app-product></div>
  </div> -->

<h2 class="tit">Boissons :</h2>
<div class="come">
    <div class="row">
        <div class="col-md-4" *ngFor="let boisson of boissonData">

            <app-product [product]="boisson"></app-product>
        </div>
    </div>
</div>