*{
    width: 75%;
    margin: auto;
}
.all{
    display: flex;
    margin-top: 7%;
    
}
.menu{
    width: 30%;
   
    position: fixed;
    margin-left: 10px;
    
}
.data{
    width: 70%;
    padding-bottom: 200px;
    margin-left: 20%;

}
