<br><br><br> <br><br>
  <!-- <div class="container">
    <div class="row" style="display: flex;">
      <div class="col-md-1 k">
        
      </div>
      <div class="col-md-9">
        <!-- Add your main content here -->
        
      <!-- </div>
    </div>
  </div> -->

  <!-- <div class="grid" style="display: flex;">
    <div class="g-col-2"><app-menu-list></app-menu-list></div>
    <div class="g-col-8"><app-burgers></app-burgers></div>
  </div> -->
  <!-- 3eme tenta -->
  <!-- <div class="grid" style="--bs-columns: 18; --bs-gap: .5rem; display: flex;">
    <div class="g-col-4"><app-menu-list></app-menu-list></div>
    <div style="grid-column: span 14; border: 1px solid black;"><app-burgers></app-burgers></div>
  </div> -->

  <div class="all">
    <div class="menu">
        <app-menu-list></app-menu-list>
    </div>
    <div class="data">
        <!-- <app-burgers></app-burgers>
        <br>
        <app-pizzas></app-pizzas> -->
    <router-outlet></router-outlet>

    </div>

  </div>