
<br>
<header>

    <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
    <div class="overlay"></div>
  
    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../assets/Images/bgvideo.mp4" type="video/mp4">
    </video>
  
    <!-- The header content -->
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        
          <div class="w-100 text-white">
             <h1 class="mb-3 textMain">Welcome to Food Fusion!</h1> 
            <h4 class="mb-3 text" >Where Food Dreams Come True, One Dish at a Time!</h4>
            <a (click) = "orderNow()" class="btn btn-outline-light btn-lg textbtn " 
            >Order now</a
            >
          </div>
        
      </div>
    </div>
  </header>
 <app-shop></app-shop>
<app-homebody></app-homebody>
<app-footer></app-footer>
