<!-- 
<div class="page-content page-container us" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card"> -->
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Historiques</h4>
                                <p class="card-description"> Commandes </p>
                            </div>
                            <div class="col-md-4 text-right"> <button id="exporttable" class="btn btn-primary">Export</button> </div>
                        </div>
                        <div class="table-responsive">
                            <table id="htmltable" class="table">
                                <thead>
                                    <tr>
                                        <th>Facture</th>
                                        <th>ID No.</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Samso Park</td>
                                        <td>34424433</td>
                                        <td>12 May 2022</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>Marlo Sanki</td>
                                        <td>53425532</td>
                                        <td>15 May 2023</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>John ryte</td>
                                        <td>53275533</td>
                                        <td>14 May 2023</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>Peter mark</td>
                                        <td>53275534</td>
                                        <td>16 May 2022</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>Dave</td>
                                        <td>53275535</td>
                                        <td>20 May 2023</td>
                                        <td><label class="badge badge-success">In progress</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div>
    </div>
</div> -->
