<br><br><br><br>
<app-shop></app-shop>
<div class="register-photo">
    <div class="form-container">
        <div class="image-holder"></div>
        <form method="post">
            <h2 class="text-center"><strong>Welcome!</strong></h2>
            <div class="form-group"><input class="form-control" type="Username" [(ngModel)]="user.username" name="Username" placeholder="Username"></div>
            <p *ngIf="errorusername">Username must be more than 3 letters! </p>
            <div class="form-group"><input class="form-control" type="email" [(ngModel)]="user.email" name="Email" placeholder="Email"></div>

            <div class="form-group"><input class="form-control" type="password"[(ngModel)]="user.password" name="password" placeholder="Password"></div>
            <p *ngIf="errorpassword">Password and it's confirmation are different!</p>
            <div class="form-group"><input class="form-control" type="password" [(ngModel)]="user.Cpassword"name="Cpassword" placeholder="Confirm Password"></div>


            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <p *ngIf="accountcreated">Account created!</p>
        <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> <label class="form-check-label" for="flexCheckDefault"> Remember me </label> </div>
        <!-- <div> <a href="#" class="text- color1">Forgot Password</a> </div> -->
    </div>
            </div>
            <div class="form-group"><button class="btn btn-success btn-block btn-info color" (click)="addUser()" type="submit">Sign in</button></div><a class="already" href="#">Terms of Use and Privacy Policy</a>
        </form>
    </div>
</div>
<app-footer></app-footer>