<div class="container mt-5 mb-5">
    <h2 class="text-center titlefeedback"><i class="far fa-comments"></i> Feedback des clients</h2>
    <div class="row g-2">
        <div class="col-md-4">
            <div class="card p-3 text-center px-4 card-hover">
                
                <div class="user-image">
                    
            <img src="https://i.imgur.com/PKHvlRS.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Bruce Hardy</h5>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
        </div>
        
        <div class="col-md-4">
            
            <div class="card p-3 text-center px-4 card-hover">
                
                <div class="user-image">
                    
            <img src="https://i.imgur.com/w2CKRB9.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Mark Smith</h5>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="col-md-4">
            
            <div class="card p-3 text-center px-4 card-hover">
                
                <div class="user-image">
                    
            <img src="https://i.imgur.com/ACeArwY.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Veera  Duncan</h5>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </div>
    
</div>
<br>
<div class="newsletter-subscribe mt-5 container">
    <div class="container">
        <div class="intro">
            <h2 class="text-center newsletter">Subscribe to our Newsletter</h2>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
            <div class="form-group a"><button class="btn btn-primary" type="button">Subscribe </button></div>
        </form>
    </div>
</div>
<br>